fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
sqlalchemy
aiosqlite
pydantic
pydantic-settings
python-dotenv
bcrypt==4.1.2
pydantic[email]
pytest 
pytest-asyncio 
httpx